body{
  font-family: "Jost", sans-serif;
  color: white;
  margin: 0;
  background-color:rgb(255, 242, 242);
}

.header{
  background-color: rgba(4, 56, 6, 0.684);
  display: inline-flex;
  position: fixed;
  width: 100vw;
  height: 150px;
}

.logo-header{
  height: 10vh;
  filter: grayscale(100%) brightness(300%);
  padding: 10px;
}

.b-contact{
  font-weight: 500 !important;
  width: 200px;
}

.b-about, .b-gallery, .b-services {
  margin-left: 20px;
}

.fivestar{
  display: inline-flex;
  align-items:center;
  justify-content: end;
  width: 100%;
  padding-right: 20px;
}

.p-fivestar{
  text-align: center;
}


.b-header {
  font-family: "Jost", sans-serif;
  color: white;
  font-size: 35px;
  font-weight: 300;

  background: none;
  border: none;
}

.b-header-buttons{
  margin-left: 20px;
  display: inline-flex;
  justify-content: center;
}

.footer{
  height: 16vh;
  background-color: rgb(51, 66, 46);
}

.green-border{
  border: 2px solid rgb(51, 66, 46);
}

@media (max-width:1024px){

  body{
    width: 100vw;
  }
  
  .header{
    display: grid;
    width: 100vw;
    overflow: clip;
    justify-content: center;
    height: fit-content;
  }
  
  .fivestar{
    width: 100%;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-size: small;
  }

  .p-fivestar{
    padding: 0;
    margin: 0;
    padding-bottom: 5px;
  }
  
  .b-header {
    font-size: 100%;
    width: 100%;
    padding: 10px;
  }

  .logo-header{
    justify-self: center;
    margin: 5px 0;
    padding: 0;
  }
  
  .footer{
    height: 16vh;
    width: 100vw;
  }
}
