body{
  background-color:rgb(255, 242, 242);
}

.container{
  height: 100vh;
  display: grid;
  grid-template-areas: 'a b';
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.left-contact-container{
  grid-area: a;

  height: 60vh;
  width: 20vw;
  background-color: rgb(51, 66, 46);

  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
}

.contact-container{
  grid-area: b;

  text-align: left;
  justify-content: left;
  height: 60vh;
  width: 30vw;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;

  display: grid;
}

#name, #how-found, #email, #message{
  margin: 0 20px;
  padding: 15px;
  font-family: "Jost", sans-serif;
  font-size: large;
  margin-bottom: 10px;
  width: 150%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgb(51, 66, 46);
}

#name::placeholder, #email::placeholder,
 #how-found::placeholder, #message::placeholder,
 #name, #email, #how-found, #message, .h-contact{
  color: rgb(59, 82, 58);
}

#message{
  border: 2px solid rgb(51, 66, 46);
  margin-top: 10px;
}

.h-contact{
  padding-top: 20px;
  padding-left: 20px;
  height: min-content;

  font-size: 30px;
}

.b-submit-container{
  padding-left: 20px;
}

#b-submit{
  padding: 10px;
  background-color: transparent;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  color: rgb(51, 66, 46);
  font-size: large;
}

.t-contact{
  padding: 20px 20px;
  padding-bottom: 0;
}

.bi{
  padding-right: 10px;
}

.indent{
  margin-left: 25px;
}

ul{
  list-style:none;
  padding: 0;
}

li{
  padding-bottom: 10px;
}

.temp{
  padding-top: 0;
}

@media (max-width:600px) {
  
  .container{
    grid-template-areas: 'a''b';
    width: 100%;
    height: fit-content;
  }

  .left-contact-container{
    width: 100%;
    margin-top: 25vh;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 0;
  }

  .contact-container{
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5%;
    margin-bottom: 20px;
  }

  .form-group{
    width: 100%;
  }

  .h-contact{
    padding: 20px;
  }

  #message, #email, #name, #how-found{
    width: 78%;
  }

  .b-submit-container{
    text-align: center;
  }

}