.s-home{
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("https://lh3.googleusercontent.com/pw/AP1GczOrpmmPcfUGbdNFtdVrp6YyxhWn8RKoBDaL9A3eIk2p5VkilZeh9NS1bdJ3oq7OCefEMRwG3JSju5sSkeJ35cAaEvjpeOMZxMA7dyHJ0sO1P0LkoQpyxMq9DDRPBKptmZ3fSNk5SCEcLvfZA58-KfFC=w1215-h911-s-no-gm?authuser=0");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
}

.t-home {
  display: grid;
  justify-content: center;
  text-align: center;
  padding-top: 30vh;
  height: 50vh;
}

.h-home {
  font-size:25px;
  width: 35vw;
}

.p-home{
  font-size: 20px;
  width: 35vw;

}

.home-text {
  margin-bottom: 0;
}

.companies{
  display: inline-flex;
  background-color: rgba(255, 255, 255, .55);
  height: 120px;
  justify-content: space-evenly;
  align-items: center;
}

.ct-logo-img, .nc-logo-img{
  width: 200px;
}

.aw-logo-img {
  width: 100px;
}


@media (max-width: 600px){
  
  .s-home{
    width: 100vw;
    min-height: 100vh !important;

  }
  
  .t-home{
    width: 100vw !important;
    height: fit-content !important;
    margin: 0;
    padding: 80px 0 !important;
  }
  
  .h-home {
    width: 80vw;
    font-size:100%;
    margin: 0;
  }
  
  .p-home{
    width: 100%;
    font-size: 100%;
  }

  .home-text{
    width: 100%;
    padding-bottom: 50px;
  }
  
  .companies{
    display: grid;
    height: fit-content;
    width: 100%;
    justify-content: center;
  }
  
  .nc-logo-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .nc-logo{
    height: 80px;
    overflow: hidden;
  }

  .ct-logo-img{
    margin-top: 10px;
    padding: 5px;
  }
}

@media (max-width: 1200px){
  
  .s-home{
    width: 100vw;
    height: 100vh;
  }
  
  .t-home{
    width: 100%;
    height: 50vh;
    padding-top: 30vh;
  }
  
  .h-home {
    width: 50vw;
    font-size:100%;
    margin-top: 50px;
    justify-self: center;
    height: fit-content;
  }
  
  .p-home{
    width: 50vw;
    font-size: 100%;
    justify-self: center;
  }

  .home-text{
    width: 100%;
  }

  .companies{
    margin-bottom: 50px;
  }
}