
body{
  overflow-x: hidden;
}

.services{
  display: grid;
  grid-template-areas: 'header''desc';
  grid-template-rows: 1fr 1fr;
  height: 100vh;
  width: 100vw;
  
  background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(https://lh3.googleusercontent.com/pw/AP1GczPztqpwJ6xpaDwNxbe_XQzTIBr5_T3RH_uwXdiWHOEvJoJ-QTzE9BW2cXWZUVapq7yoIIT28U4KAAc3pgGIkt7Thk12He3F0A_MKFmk25w_IyNfTSp1WrxSkFOuXctSpDi82-sgQcCnEEynCU6mfsUn=w1215-h911-s-no-gm?authuser=0);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin-bottom: 20px;
}

.services-text, .services-desc-text{
  display: inline-flex;
  justify-content: center;
}

.services-text{
  grid-area: header;
  align-items: end;
  font-size: 90px;
  font-weight: 600;
}

.services-desc-text{
  grid-area: desc;
  font-size: 35px;
  font-weight: 200;
  font-family: "Khand", sans-serif;
  text-align: center;
  width: 50vw;
  justify-self: center;
}

.container{
  height: fit-content;
  width: 100vw;
}

.service-header{
  color: black;
  height: fit-content;
  width: 100vw;
  text-align: center;
  color: (51, 66, 46);
  font-size: 50px;
  font-family: "Khand", sans-serif;
  padding: 20px;
  width: 100vw;
}

.row{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100vw;
}

.image{
  width: 23vw;
  margin: 20px;
}



@media (max-width: 1024px){

  .row{
    
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .image{
    width: 48vw;
   
  }

  .services-desc-text{
    width: 80vw;
  }
    
}

@media (max-width: 600px){

  body{
    width: 100vw;
    overflow-x: hidden;
  }

  .row{
    grid-template-columns: 1fr;
    width: 100%;
  }

  .image{
    width: 90vw;
    justify-self: center;
  }

  .services-text{
    font-size: 50px;
  }

  .services-desc-text{
    font-size: 25px;
    margin: 0;
  }

  .service-header{
    width: 80vw;
    font-size: x-large;
  }

  .container{
    width: 100vw;
  }

}